# Python
__pycache__/
*.pyc
.venv/
venv/
.venv-1/
*.db
*.db-shm
*.db-wal

# Node
node_modules/
siem-ui/build/

# Env / secrets
.env
.env.local
*.env
!.env.example
!**/.env.example

# OS
.DS_Store

# Tooling
ngrok.exe
ngrok
backend/tools/nuclei/nuclei.exe
backend/tools/nuclei/nuclei.zip
backend/tools/**/*.exe
backend/tools/**/*.zip
backend/tools/zap_api_key.txt
backend/tools/zap/zap-daemon.log*
backend/tools/zap/zap.pid
backend/tools/zap/ZAP_*/